#overlay {/*Darkens background to create lightbox effect*/
	  position: fixed;
	  overflow:hidden;
	  top: 0px;
	  left: 0px;
	  z-index: 9;
	  background-color: rgba(0, 0, 0, .75);
	  width:101%;
	  height:101%;
	  display: none;
	}

	.closeMe{/*clickable div behind lightbox triggers toggleLayer('overlay') on click*/
		position: absolute;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		z-index:10;
		cursor:zoom-out;

	}

	.closeX{/*also triggers toggleLayer('overlay') on click but is positioned [X] in the corner for those who look for an x to click*/
		position:fixed;
		display:block;
		z-index:30;
		top:6%;
		left:87%;

	}

	#behanceGallery { /*The lit up part of the light box. Allows scrolling within it but fixed at 100% height*/
	  position: relative;
	  align-content: center;
	  width: 76%;
	  left:12%;
	  z-index: 20;
	  height:90%;
	  overflow:scroll;
	  background-color: #ffffff;
	  margin:20px;
	  color:#000000;/*text color defined to over ride main css when inserted later */
	}

	/*alignment and styling of content loaded into gallery lightbox overlay*/
	#behanceGallery h1{
		text-align: center;
	}
	 #behanceGallery ul, #Design ul {
	 	list-style-type: none;
	 }

	 #behanceGallery li {
	 	margin:20px 0px 0px 0px;
	 }

	 	.galleryDescription{
		padding: 20px;
	}

	#Design li{
		padding:10px 10px 5px 10px;
		margin:15px;/*this is on all sides double between elements*/
		width:20%;
		text-align: center;
		position:relative;
		float:left;
		height:20%;
		max-height:250px;
	}

	#Design img {/*width flexibility for the linked display images*/
		width:80%;
		height:auto;
	}
