/*Farthest back element. Include fixed star field*/
body {
    padding: 45px;
    background-color: #000000;
    color:#ffffff;
     font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*This is the slowly moving background image. 
Should have sun and far limb of planet as image with transparent bg
Not adding image on css to allow for easier changes*/
#parallaxFar {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -3;
}
/*sets image on parallax far to fill screne. Need to add alt version for mobile/narrow screen*/
#parallaxFar img {
    width: 100%;
    height: auto;
}
/*carries slowly moving elements Like middle cloud layer and satellite or spaceship graphic*/
#Satellite {
    left: 0;
    position: fixed;
    top:200px;
    z-index: -2;
}
/* image settings for parallax mid*/
#Satellite img {
    width: 100%;
    height: auto;
}

#Sunrise {
    left: 0;
    position: fixed;
    top:1200px;
    z-index: -2;
}
/* image settings for parallax mid*/
#Sunrise img {
    width: 100%;
    height: auto;
}

/* mid level clouds here */
#parallaxMain{
   left: 0;
   top:1800px;
   position: fixed;
   z-index: -1;
}

#parallaxMain img {
    width: 100%;
    height: auto;
}

/*ultimatelly totally transparent, this section houses the blocks of content 
ported from other sites. Also will have near clouds image at base */
#main{
	display:block;
	position:absolute;
    left: 10%;
    width:80%;
	height: 2000px;
    z-index: 0;
    /*background-color: rgba(0, 0, 0, .20); /*alpha 50% for testing*/
}


#parallaxNear {
    position: fixed;
    left: 0;
    top:2800px;
    width: 100%;
    z-index: 1;
}

#parallaxNear img {
    width: 100%;
    height: auto;
}

.movingBox{
    display:block;
    height:450px;
    border: solid rgba(200, 115, 15, .75);
    background-color: rgba(255, 255, 255, .10);
    padding: 15px;
    margin:20px;

/*make the edges glow*/
   -webkit-box-shadow: 0px 0px 5px 2px rgba(255,100,0,0.5);
   -moz-box-shadow: 0px 0px 5px 2px rgba(255,100,0,0.5);
   box-shadow: 0px 0px 5px 2px rgba(255,100,0,0.5);

   border-width: 2px 1px 2px 1px;

}

