/*General Body and text*/
body {
     background-color: #000000;
     color:#ffffff;
     font-family: "Roboto", Arial, sans-serif;
     font-weight: 300;
     font-size:10pt;
}

h1{
    font-weight: 400;
     font-size:15pt;
}

a{
    color: rgba(200, 100, 0, 1);
}

.glowEdges {
    border: solid rgba(200, 115, 15, .75);
     -webkit-box-shadow: 0px 0px 5px 2px rgba(255,100,0,0.5);
   -moz-box-shadow: 0px 0px 5px 2px rgba(255,100,0,0.5);
   -ms-box-shadow: 0px 0px 5px 2px rgba(255,100,0,0.5);
   -o-box-shadow: 0px 0px 5px 2px rgba(255,100,0,0.5);
   box-shadow: 0px 0px 5px 2px rgba(255,100,0,0.5);

   border-width: 2px 1px 2px 1px;


}


.title{
    background-color: rgba(150, 150, 150, .30);
    padding: 5px 0px 5px 20px;
    margin:40px 20px 12px 20px;

    width: 400px;
    height: 50px;

    clip-path: polygon(0% 100%, 100% 100%, 75% 0%, 0% 0%);
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 75% 0%, 0% 0%);
    -moz-clip-path: polygon(0% 100%, 100% 100%, 75% 0%, 0% 0%);
    -ms-clip-path: polygon(0% 100%, 100% 100%, 75% 0%, 0% 0%);
    -o-clip-path: polygon(0% 100%, 100% 100%, 75% 0%, 0% 0%);

}

.titleEdge{

	position:relative;
	float:left;
	left:390px;/*position just inside edge of clipping mask*/
	top:-96px;

	-ms-transform: rotate(-55deg); /* IE 9 */
    -webkit-transform: rotate(-55deg); /* Safari */
    -moz-transform: rotate(-55deg); 
    -o-transform: rotate(-55deg); 
    transform: rotate(-55deg);
    height:107px;/*hypotenuse of 50px and 100px legs*/
    width:0px;

 	/*add glowing edge but just to one side and offset to right of shape only*/
    border: solid rgba(200, 115, 15, .75);
     -webkit-box-shadow: 2px 2px 3px 1px rgba(255,100,0,0.5);
   -moz-box-shadow: 2px 2px 3px 1px rgba(255,100,0,0.5);
   -ms-box-shadow: 2px 2px 3px 1px rgba(255,100,0,0.5);
   -o-box-shadow: 2px 2px 3px 1px rgba(255,100,0,0.5);
   box-shadow: 2px 2px 3px 1px rgba(255,100,0,0.5);

   /*slightly thicker border width to accomodate transform effect*/
   border-width: 0px 3px 0px 0px;

}

/*This is the slowly moving background image. 
Should have sun and far limb of planet as image with transparent bg
Not adding image on css to allow for easier changes*/
#parallaxFar {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -3;
}
/*sets image on parallax far to fill screne. Need to add alt version for mobile/narrow screen*/
#parallaxFar img {
    width: 100%;
    height: auto;
}
/*carries slowly moving elements Like middle cloud layer and satellite or spaceship graphic*/
#Satellite {
    left: 0;
    position: fixed;
    width: 100%;
    top:200px;
    z-index: -2;
}
/* image settings for parallax mid*/
#Satellite img {
    width: 100%;
    height: auto;
}

#Sunrise {
    position: fixed;
     display:block;
    left: 0px;
    top:1000px;
    width: 100%;
    z-index: -2;
}
/* image settings for parallax mid*/
#Sunrise img {
    width: 100%;
    height: auto;
}

/* mid level clouds here */
#parallaxMain{
   position: fixed;
   display:block;
    left: 0px;
    top:1000px;
   width: 100%;
   z-index: -1;
}

#parallaxMain img {
    width: 100%;
    height: auto;
}

/*ultimatelly totally transparent, this section houses the blocks of content 
ported from other sites. Also will have near clouds image at base */
#main{
	display:block;
	position:absolute;
    left: 15%;
    width:75%;
    z-index: 0;
    /*background-color: rgba(0, 0, 0, .20); /*alpha 50% for testing*/
}

#FooterSpace{
    display:block;
    position:relative;
    height:400px;

}


#parallaxNear {
    position: fixed;
     display:block;
    left: 0px;
    top:1000px;
    width: 100%;
    z-index: 1;
}

#parallaxNear img {
    width: 100%;
    height: auto;
}


.movingBox{
    height:400px;
    background-color: rgba(150, 150, 150, .30);
    padding: 15px;
    margin:4px 20px 0px 20px;
    overflow-y:scroll;
    overflow-x:hidden;


}

/*_________MENU CSS BEGINs HERE___________*/

#menu{
    display:block;
    position:fixed;
    width:100px;
    top:0px;
    left:0px;
    z-index:3;

}


#menu ul{
    list-style-type: none;
    font-weight: 700;
    position:relative;
    left:-40px;
    top:0px;
}



#menu ul li a {
/*solid orange menu items*/
    background-color: rgba(200, 100, 0, 1);
    margin:15px 0px 0px 0px;

    color:#000000;
    text-decoration: none;
    font-weight: bold;
    display: block;
    width: 100px;
    text-align: center;


}


#menu li a:hover {
    background-color: rgba(150, 150, 150, .15);
    color: white;
}

#about {
    color:#000000;
    position:relative;
    float:left;
    display:none;
    left:0px;
    top:0px;
    width:300%;/*Greater than 100% because position relative.*/
    background-color: rgba(200, 100, 0, 1);
    padding: 15px;
    margin:15px 0px 0px 0px;
}

#about a {
    color:#ffffff;
}

#aboutCloseButton{
    position:relative;
    float:right;
    top:-15px;
    right:-10px;

}





