/* Parallax base styles
  --------------------------------------------- */

  .parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
    -webkit-perspective: 1px;
    -moz-perspective: 1px;
    -ms-perspective: 1px;
    -o-perspective: 1px;
    perspective-origin-x: 100%;
    -webkit-perspective-origin-x: 100%;
    -moz-perspective-origin-x: 100%;
    -ms-perspective-origin-x: 100%;
    -o-perspective-origin-x: 100%;

  }

  .parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
  }

  .parallax__layer {
    transform-origin-x: 100%;
    -webkit-transform-origin-x: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }


  .parallax__layer--high {
    transform: translateZ(0px);
    -webkit-transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    -ms-transform: translateZ(0px);
    -o-transform: translateZ(0px);
  }

  .parallax__layer--main {
    transform: translateZ(-1px) scale(2);
    -webkit-transform: translateZ(-1px) scale(2);
    -moz-transform: translateZ(-1px) scale(2);
    -ms-transform: translateZ(-1px) scale(2);
    -o-transform: translateZ(-1px) scale(2);
  }

  .parallax__layer--back {
  transform: translateZ(-2px) scale(3);
  -webkit-transform: translateZ(-2px) scale(3);
  -moz-transform: translateZ(-2px) scale(3);
  -ms-transform: translateZ(-2px) scale(3);
  -o-transform: translateZ(-2px) scale(3);
}

.parallax__layer--deep {
  transform: translateZ(-3px) scale(4);
  -webkit-transform: translateZ(-3px) scale(4);
  -moz-transform: translateZ(-3px) scale(4);
  -ms-transform: translateZ(-3px) scale(4);
  -o-transform: translateZ(-3px) scale(4);
}


  /* demo styles
  --------------------------------------------- */

  * {
    margin:0;
    padding:0;
  }

  body {
    font: 100% / 1.5 Arial;
    background-color: #222222;
    color:#aaaaaa;
  }

  .parallax {
    font-size: 200%;
  }

   /* add some padding to force scrollbars */
  .parallax__layer {
    padding: 100vh 0;
  }

   /* centre the content in the parallax layers */
  .title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }

  .parallax__layer--main .title{
    border-style: solid;
    border-color: #ffffff;
    width:50%;
    height:100px;
    text-align: center;

  }
