/*Farthest back element. Include fixed star field*/
body {
    padding: 45px;
    background-color: #000000;
    color:#ffffff;
     font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*This is the slowly moving background image. 
Should have sun and far limb of planet as image with transparent bg
Not adding image on css to allow for easier changes*/
#parallaxFar {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -2;
}
/*sets image on parallax far to fill screne. Need to add alt version for mobile/narrow screen*/
#parallaxFar img {
    width: 100%;
    height: auto;
}
/*carries slowly moving elements Like middle cloud layer and satellite or spaceship graphic*/
#parallaxMid {
    left: 0;
    position: fixed;
    z-index: -1;
}
/* image settings for parallax mid*/
#parallaxMid img {
    width: 100%;
    height: auto;
}

#parallaxMain{
   left: 0;
   top:2000px;
    position: fixed;
    z-index: 0;
}

#parallaxMain img {
    width: 100%;
    height: auto;
}

/*ultimatelly totally transparent, this section houses the blocks of content 
ported from other sites. Also will have near clouds image at base */
#main{
	display:block;
    left: 10%;
    width:80%;
	height:2500px;
    z-index: 1;
    /*background-color: rgba(0, 0, 0, .20); /*alpha 50% for testing*/
}


#parallaxNear {
    position: fixed;
    left: 0;
    top:3100px;
    width: 100%;
    z-index: 2;
}

#parallaxNear img {
    width: 100%;
    height: auto;
}


.movingBox{
	display:block;
	height:450px;
	border: solid rgba(200, 115, 15, .75);
	background-color: rgba(255, 255, 255, .10);
	padding: 15px;
	margin:20px;
	/*call out border individually for easy element grab from javascript*/
	border-top-width: 5px;
	border-bottom-width: 1px;
	/*left and right to remain fixed, top and bottom dynamic*/
	border-left-width: 1px;
	border-right-width: 1px;

/*make the edges glow*/
   -webkit-box-shadow: 0px 0px 5px 2px rgba(255,100,0,0.5);
   -moz-box-shadow: 0px 0px 5px 2px rgba(255,100,0,0.5);
   box-shadow: 0px 0px 5px 2px rgba(255,100,0,0.5);

}

